<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark py-2 text-uppercase font-weight-bold">
  <div class="container">
    {% if site.thumbnail.base and site.thumbnail.header_logo.dir and site.thumbnail.header_logo.name and site.data.organization.name -%}
    {%- assign headerlogo = site.thumbnail.base | append: site.thumbnail.header_logo.dir | append: site.thumbnail.header_logo.name | append: '.png' -%}
    <a class="navbar-brand py-0" href="{{- '/' | uri_escape | relative_url -}}">
      <img src="{{- headerlogo | strip_html | strip_newlines | uri_escape | relative_url -}}" height="35" alt="{{- site.data.organization.name | strip_html | strip_newlines | xml_escape }} Logo" class="d-inline-block align-top" />
    </a>
    {%- endif -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        {%- for my_page in site.data.navigation -%}
        {%- unless my_page.invisible -%}
        {% if my_page.id == "home" and my_page.link['en'] and my_page.name["en"] -%}
        <li class="nav-item">
          <a class="nav-link" href="{{- my_page.link['en'] | strip_html | strip_newlines | uri_escape | relative_url -}}">
            {{- my_page.name["en"] | strip_html | strip_newlines | xml_escape -}}
          </a>
        </li>
        {%- endif %}
        {% if page.layout == "home" and my_page.id == "features" and my_page.name["en"] and my_page.link["en"] -%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{- my_page.link['en'] | strip_html | strip_newlines | uri_escape -}}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{- my_page.name["en"] | strip_html | strip_newlines | xml_escape -}}
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            {%- for sub in my_page.subitem -%}
            {%- unless sub.invisible -%}
            <a class="dropdown-item text-lightgrey font-weight-bold" href="{{- sub.link['en'] | strip_html | strip_newlines | uri_escape -}}">
              {{- sub.name["en"] | strip_html | strip_newlines | xml_escape -}}
            </a>
            {%- endunless -%}
            {%- endfor -%}
          </div>
        </li>
        {%- endif %}
        {% if my_page.id == "contact" and my_page.link['en'] and my_page.name["en"] -%}
        <li class="nav-item">
          <a class="nav-link" href="{{- my_page.link['en'] | strip_html | strip_newlines | uri_escape -}}">
            {{- my_page.name["en"] | strip_html | strip_newlines | xml_escape -}}
          </a>
        </li>
        {%- endif %}
        {%- endunless -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>
<!-- No JS warning -->
{% if site.data.i18n.nojs["en"] -%}
<noscript>
  <div class="container text-center mt-3">
    <p class="font-weight-bold">
      {{- site.data.i18n.nojs["en"] | strip_html | strip_newlines | xml_escape -}}
    </p>
  </div>
</noscript>
{%- endif %}
