@charset "utf-8";

/* ibm-plex-sans-regular - latin-ext */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ibm/ibm-plex-sans-v7-latin-ext-regular.eot"); /* IE9 Compat Modes */
  src:
    local("IBM Plex Sans"),
    local("IBMPlexSans"),
    url("../fonts/ibm/ibm-plex-sans-v7-latin-ext-regular.woff2") format("woff2"),
    url("../fonts/ibm/ibm-plex-sans-v7-latin-ext-regular.woff") format("woff"),
    url("../fonts/ibm/ibm-plex-sans-v7-latin-ext-regular.ttf") format("truetype"),
    url("../fonts/ibm/ibm-plex-sans-v7-latin-ext-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ibm/ibm-plex-sans-v7-latin-ext-regular.svg#IBMPlexSans") format("svg"); /* Legacy iOS */

  font-display: swap;
}
