/* stylelint-disable font-family-no-missing-generic-family-keyword  */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?2wpmxk");
  src:
    url("../fonts/icomoon/icomoon.woff?2wpmxk") format("woff"),
    url("../fonts/icomoon/icomoon.ttf?2wpmxk") format("truetype"),
    url("../fonts/icomoon/icomoon.eot?2wpmxk#iefix") format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.svg?2wpmxk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="fa-"],
[class*=" fa-"] {
  /* !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
/* stylelint-enable */

.fa-search::before {
  content: "\f002";
}

.fa-envelope-o::before {
  content: "\f003";
}

.fa-home::before {
  content: "\f015";
}

.fa-camera::before {
  content: "\f030";
}

.fa-map-marker::before {
  content: "\f041";
}

.fa-info-circle::before {
  content: "\f05a";
}

.fa-exclamation-circle::before {
  content: "\f06a";
}

.fa-twitter-square::before {
  content: "\f081";
}

.fa-facebook-square::before {
  content: "\f082";
}

.fa-sign-out::before {
  content: "\f08b";
}

.fa-sign-in::before {
  content: "\f090";
}

.fa-github-square::before {
  content: "\f092";
}

.fa-envelope::before {
  content: "\f0e0";
}

.fa-linkedin::before {
  content: "\f0e1";
}

.fa-comment-o::before {
  content: "\f0e5";
}

.fa-sitemap::before {
  content: "\f0e8";
}

.fa-desktop::before {
  content: "\f108";
}

.fa-mobile::before {
  content: "\f10b";
}

.fa-mobile-phone::before {
  content: "\f10b";
}

.fa-folder-o::before {
  content: "\f114";
}

.fa-folder-open-o::before {
  content: "\f115";
}

.fa-check-square::before {
  content: "\f14a";
}

.fa-thumbs-up::before {
  content: "\f164";
}

.fa-thumbs-down::before {
  content: "\f165";
}

.fa-youtube-square::before {
  content: "\f166";
}

.fa-instagram::before {
  content: "\f16d";
}

.fa-apple::before {
  content: "\f179";
}

.fa-windows::before {
  content: "\f17a";
}

.fa-android::before {
  content: "\f17b";
}

.fa-linux::before {
  content: "\f17c";
}

.fa-arrow-circle-o-right::before {
  content: "\f18e";
}

.fa-arrow-circle-o-left::before {
  content: "\f190";
}

.fa-slack::before {
  content: "\f198";
}

.fa-reddit-square::before {
  content: "\f1a2";
}

.fa-newspaper-o::before {
  content: "\f1ea";
}

.fa-user-plus::before {
  content: "\f234";
}

.fa-user-times::before {
  content: "\f235";
}

.fa-envelope-open::before {
  content: "\f2b6";
}

.fa-envelope-open-o::before {
  content: "\f2b7";
}

.fa-address-card-o::before {
  content: "\f2bc";
}

.fa-vcard-o::before {
  content: "\f2bc";
}

.fa-user-circle-o::before {
  content: "\f2be";
}

.fa-telegram::before {
  content: "\f2c6";
}

.fa-times-rectangle::before {
  content: "\f2d3";
}

.fa-window-close::before {
  content: "\f2d3";
}
