// GENERAL SETTINGS
html {
  height: 100%;

  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.text-lightgrey {
  color: $gray-300;
}

.text-midgrey {
  color: $gray-600;
}

.text-darkgrey {
  color: $gray-700;
}

.text-orange {
  color: $orange;
}

.btn-orange {
  background-color: $orange;
}

.btn-orange:hover {
  background-color: lighten($orange, 15%);
}

.text-justify {
  hyphens: auto;

  p {
    hyphens: auto !important;
  }
}

.push-footer {
  flex: 1 0 auto;
}

/**
 * Blockquotes
 */

blockquote {
  color: $gray-600;
  padding-left: map-get($spacers, 4);
  padding-right: map-get($spacers, 2);
  font-size: $blockquote-font-size;
}

/**
 * Code formatting
 */

pre {
  display: block;
  padding-top: map-get($spacers, 2);
  padding-bottom: map-get($spacers, 2);
  padding-left: map-get($spacers, 2);
  padding-right: map-get($spacers, 2);
  text-align: left;
  overflow-x: auto;

  // rouge adds a table if line numbers are shown
  table {
    margin-left: 0;
    // there is a second pre element when rouge outputs code
    // bootstrap calculation results in double scaling-down
    // normalize it back to the intended size
    pre {
      font-size: $font-size-base * ($code-font-size / 100%);
    }
  }
}

pre.highlight,
figure.highlight,
code.highlighter-rouge {
  background-color: darken($body-bg-grey, 3%);
}

code.highlighter-rouge {
  padding-top: map-get($spacers, 2);
  padding-bottom: map-get($spacers, 1) / 2;
  padding-left: map-get($spacers, 1);
  padding-right: map-get($spacers, 1);
}

// HOME PAGE

.entrance {
  background-color: $gray-100;
  position: relative;
  z-index: 100;
  height: 95vh;

  .entrance-info {
    position: absolute;
    width: 100%;
    top: 35%;
  }

  a {
    font-size: 1.75rem;
    color: $black;
  }

  @media only all and (max-width: 576px) {
    h1 {
      font-size: 1.75rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }
}

#particles-js {
  canvas {
    display: block;
  }
}

.honeypot {
  display: none !important;
}

.jumbotron-fluid {
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.info-full {
  background-color: $gray-900;

  .info-overlay {
    position: relative;
  }

  .info-caption {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
  }

  h1 {
    position: relative;
    top: 50%;
  }

  img {
    width: 85%;
    height: auto;
  }
}

.info-double {
  background-color: $gray-100;

  .info-title {
    position: relative;
    display: flex;
    align-items: center;
  }

  img {
    width: 85%;
    height: auto;

    @media only all and (min-width: 576px) {
      width: 85%;
      height: auto;
    }

    @media only all and (min-width: 768px) {
      width: 50%;
      height: auto;
    }

    @media only all and (min-width: 992px) {
      width: 100%;
      height: auto;
    }
  }
}

// ARCHIVE-POSTLIST
.post-list-image-wrapper {
  font-size: 0;
  line-height: 0;
}

// POST

.post {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  .post-header {
    .post-image-wrapper {
      font-size: 0;
      line-height: 0;
    }

    .post-header-author {
      display: inline;
    }

    .post-header-time {
      display: inline;
    }
  }

  .post-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: left;
    }

    p {
      text-align: justify;
      hyphens: auto;
    }
  }

  .post-author {
    .post-author-image {
      text-align: center;

      .user-picture {
        border-radius: 50%;
        width: 75%;
      }
    }

    .post-author-info {
      .user-name {
        font-size: $font-size-base * 1.25;
      }

      .user-shortbio {
        color: $gray-600;
        font-size: $font-size-base * 0.9;
      }
    }
  }
}

// CALL TO ACTION
.calltoaction {
  line-height: 1.2;

  .calltoaction-social {
    font-size: 3.25rem;

    .calltoaction-facebook {
      color: #3b5998;
    }

    .calltoaction-twitter {
      color: #1da1f2;
    }

    .calltoaction-reddit {
      color: #ff4500;
    }

    .calltoaction-linkedin {
      color: #4875b4;
    }

    .calltoaction-telegram {
      color: #08c;
    }
  }
}

// NAVIGATION BAR

.navbar {
  line-height: 1.3;

  .navbar-brand {
    img {
      width: auto;
    }
  }

  .nav-item {
    font-size: 1rem;

    .nav-link {
      color: $gray-200;
    }

    .nav-link:hover {
      color: $orange;
    }
  }

  .navbar-toggler {
    .navbar-toggler-icon {
      width: 1.625em;
      height: 1.625em;
    }
  }

  .dropdown-menu {
    font-size: 1rem;
    line-height: 1.3;

    .dropdown-item {
      font-size: 1rem;
      line-height: 1.3;
    }

    .dropdown-item:hover {
      background-color: $gray-400;
    }
  }
}

// FOOTER

footer {
  flex-shrink: 0;
  line-height: 1.2;

  .social-media {
    font-size: 2.75rem !important;
  }
}

// Lazysizes.js Start
// Set at least min height and width to minimize reflows
// Fade image in after load
.lazyload,
.lazyloading {
  min-height: 100px;
  min-width: 100px;
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}
// Lazysizes.js End
