// CUSTOM VARIABLES - NOT IN BOOTSTRAP
$body-bg-grey: #f7f7f7;

$link-transition-duration: 0.3s;
$link-timing-function: ease-in;

$alt-font-size: 1rem;
$alt-line-height: 1.4;  // where being compact is needed

$social-media-icon-size: 3rem;
$twitter-blue: #1da1f2;
$facebook-blue: #3b5998;
$reddit-red: #ff4500;
$linkedin-blue: #4875b4;
$telegram-blue: #08c;
$social-media-icon-hover: 15%;  // used in darken/lighten on hover

// BOOTSTRAP VARIABLES

// Variables
//
// Variables should follow the `$component-state-property-size` formula
// for consistent naming.
// Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white: #fff;
$gray-100: #efefef;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #1a1a1a;
$black: #000;

$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue: #2a9fd6;
$indigo: #666ef2;
$purple: #93c;
$pink: #e83e8c;
$red: #c00;
$orange: #f4a93b;
$yellow: #ffc107;
$green: #8bce04;
$teal: #20c997;
$cyan: #3498db;

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary: $blue;
$secondary: $gray-500;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $black;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-responsive-font-sizes: true;

// Body
//
// Settings for the `<body>` element.

$body-bg: $body-bg-grey;
$body-color: $gray-800;

// Links
//
// Style anchor elements.

$link-color: #f4a93b;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15%;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 940px,
  xl: 1050px
);

// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg: 1.4;
$line-height-sm: 1.4;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case, max-line-length
$font-family-sans-serif: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
// stylelint-enable value-keyword-case, max-line-length

$font-size-base: 1.15rem; // 1rem Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.1;
$font-size-sm: $font-size-base * 0.825;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.9;

$h1-font-size: $font-size-base * 2.2;
$h2-font-size: $font-size-base * 1.59;
$h3-font-size: $font-size-base * 1.35;
$h4-font-size: $font-size-base * 1.15;
$h5-font-size: $font-size-base * 1.09;
$h6-font-size: $font-size-base;

$headings-font-family: null;
$headings-font-weight: 500;
$headings-line-height: 1.3;
$headings-color: null;

$display1-size: 5.5rem;
$display2-size: 4.75rem;
$display3-size: 4.05rem;
$display4-size: 3.5rem;

$display-line-height: $headings-line-height;

$lead-font-size: $font-size-base * 1.125;
$lead-font-weight: 300;

$small-font-size: 82.5%;

$blockquote-small-color: $gray-600;
$blockquote-small-font-size: $small-font-size;
$blockquote-font-size: $font-size-base * 0.9;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-link-color: $link-color;
$btn-link-hover-color: $link-hover-color;

// Navbar

$navbar-dark-color: rgba($orange, 0.7);
$navbar-dark-hover-color: rgba($orange, 0.85);
$navbar-dark-active-color:          $orange;
$navbar-dark-disabled-color:        rgba($orange, 0.35);
$navbar-dark-toggler-border-color:  rgba($orange, 0.45);

// Jumbotron

$jumbotron-color: null;
$jumbotron-bg: $gray-100;

// Code

$code-font-size: 75%;
$code-color: $pink;

$pre-color: $gray-900;
