/* ibm-plex-sans-300 - latin-ext */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ibm/ibm-plex-sans-v7-latin-ext-300.eot"); /* IE9 Compat Modes */
  src:
    local("IBM Plex Sans Light"),
    local("IBMPlexSans-Light"),
    url("../fonts/ibm/ibm-plex-sans-v7-latin-ext-300.woff2") format("woff2"),
    url("../fonts/ibm/ibm-plex-sans-v7-latin-ext-300.woff") format("woff"),
    url("../fonts/ibm/ibm-plex-sans-v7-latin-ext-300.ttf") format("truetype"),
    url("../fonts/ibm/ibm-plex-sans-v7-latin-ext-300.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ibm/ibm-plex-sans-v7-latin-ext-300.svg#IBMPlexSans") format("svg"); /* Legacy iOS */

  font-display: swap;
}

html,
body {
  font-family: "IBM Plex Sans", sans-serif;
}

.bg-dark {
  background-color: #000 !important;
}

.text-lightgrey {
  color: #ececec !important;
}

.text-darkgrey {
  color: #454545 !important;
}

.text-orange {
  color: #f4a93b !important;
}

.text-black {
  color: #000 !important;
}

.text-justify,
.text-justify p {
  hyphens: auto;
}

.display-4 {
  font-size: 3rem !important;
}

#entrance {
  background-color: #efefef !important;
  position: relative;
  z-index: 100;
  height: 95vh;
}

#entrance .entrance-info {
  position: absolute;
  width: 100%;
  top: 35%;
}

#entrance a {
  font-size: 2em;
  color: #000;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  text-decoration: none;
}

#entrance a:link,
#entrance a:visited,
#entrance a:hover,
#entrance a:active {
  text-decoration: none;
}

#entrance a:hover {
  color: #f08c1e;
}

#particles-js canvas {
  display: block;
}

.jumbotron-fluid {
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.info-full {
  background-color: #1a1a1a !important;
}

.info-full .info-overlay {
  position: relative;
}

.info-full .info-caption {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}

.info-full h1 {
  position: relative;
  top: 50%;
}

.info-full img {
  width: 85%;
  height: auto;
}

.info-double {
  background-color: #4d4d4d !important;
}

.info-double .info-title {
  position: relative;
  display: flex;
  align-items: center;
}

.info-double img {
  width: 85%;
  height: auto;
}

@media only all and (min-width: 576px) {
  .info-double img {
    width: 85%;
    height: auto;
  }
}

@media only all and (min-width: 768px) {
  .info-double img {
    width: 50%;
    height: auto;
  }
}

@media only all and (min-width: 992px) {
  .info-double img {
    width: 100%;
    height: auto;
  }
}

.navbar-brand {
  font-size: 1.5em;
}

a,
footer a {
  color: #f4a93b;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:hover {
  color: #f08c1e;
}

a.dropdown-item:hover {
  background-color: #4d4d4d;
}

.nav-item > a.nav-link {
  color: #ececec !important;
}

.nav-item > a.nav-link:hover {
  color: #f4a93b !important;
}

.btn-orange {
  background-color: #f4a93b !important;
}

.btn-orange:hover {
  background-color: #f08c1e !important;
}

.honeypot {
  display: none !important;
}

.navbar-toggler {
  font-size: 1.35rem;
}

.navbar-toggler-icon {
  width: 1.85em;
  height: 1.85em;
}

.social-media {
  font-size: 2.75em;
}

.contact > p {
  font-size: 0.80em;
}

.contact > span {
  font-size: 0.90em;
}

/* Lazysizes.js Start */

/* Set at least min height and width to minimize reflows */

/* Fade image in after load */
.lazyload,
.lazyloading {
  min-height: 100px;
  min-width: 100px;
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

/* Lazysizes.js End */
