<!DOCTYPE html>
<html lang="en-us">

  <head>
  {% include head.html %}
  <link href="/assets/base.b8d080a1481fa77cd5ca.min.css" rel="stylesheet"></head>

  <body>
    <div class="push-footer">
      {% include navigation.html %}
      {{ content }}
    </div>

    {% include footer.html %}

    {%- if site.analytics.google.name and site.analytics.google.dir %}
    {%- assign gsource = site.analytics.google.dir | append: site.analytics.google.name -%}
    <script type="text/javascript" src="{{- gsource | strip_html | strip_newlines | uri_escape | relative_url -}}" defer></script>
    {%- endif %}
  <script type="text/javascript" src="/assets/base.b8d080a1481fa77cd5ca.min.js"></script><script type="text/javascript" src="/assets/home.b8d080a1481fa77cd5ca.min.js"></script></body>
</html>
