---
layout: default
---
<main aria-label="Main Content">
  <div class="container">
    <article class="post">
      <header class="post-header pt-3 pb-1">
        {% if page.title -%}
        {%- assign ptitle = page.title | strip_html | strip_newlines | xml_escape -%}
        <h1 class="text-orange">{{- ptitle -}}</h1>
        {%- endif %}
        <div class="text-midgrey pb-2">
          {% if page.date -%}
          <time class="post-header-time" datetime="{{- page.date | strip_html | strip_newlines | date_to_xmlschema -}}">
            {{- page.date | date: site.data.i18n.dateformat["en"] | strip_html | strip_newlines | xml_escape -}}
          </time>
          {%- endif %}
          {% if page.author_id -%}
          {%- for author in site.data.author -%}
          {% if author.author_id == page.author_id -%}
          &nbsp;&#8226;&nbsp;
          <address class="post-header-author">
            {{- author.name | strip_html | strip_newlines | xml_escape -}}
          </address>
          {%- break %}
          {%- endif %}
          {%- endfor %}
          {%- endif %}
        </div>
        {% if page.thumbnail.name -%}
        {%- assign thumb_base = site.thumbnail.base | strip_html | strip_newlines | uri_escape -%}
        {%- assign thumb_sq = page.thumbnail.name | append: site.thumbnail.square_ext | strip_html | strip_newlines | uri_escape -%}
        {%- assign thumb_mid = page.thumbnail.name | append: site.thumbnail.mid_ext | strip_html | strip_newlines | uri_escape -%}
        {%- assign thumb_wide = page.thumbnail.name | append: site.thumbnail.wide_ext | strip_html | strip_newlines | uri_escape -%}
        {%- assign thumb_alt = page.title | strip_html | strip_newlines | xml_escape -%}
        <div class="post-image-wrapper pb-2">
          ​<picture>
            {%- if page.thumbnail.webp -%}
            <source media="(max-width: 600px)" srcset="{{- thumb_base | append: site.thumbnail.square | append: thumb_sq | append: '.webp' | relative_url -}}" type="image/webp">
            <source media="(max-width: 800px)" srcset="{{- thumb_base | append: site.thumbnail.mid | append: thumb_mid | append: '.webp' | relative_url -}}" type="image/webp">
            <source srcset="{{- thumb_base | append: site.thumbnail.wide | append: thumb_wide | append: '.webp' | relative_url -}}" type="image/webp">
            {%- endif -%}
            <source media="(max-width: 600px)" srcset="{{- thumb_base | append: site.thumbnail.square | append: thumb_sq | append: '.jpg' | relative_url -}}" type="image/jpeg">
            <source media="(max-width: 800px)" srcset="{{- thumb_base | append: site.thumbnail.mid | append: thumb_mid | append: '.jpg' | relative_url -}}" type="image/jpeg">
            <source srcset="{{- thumb_base | append: site.thumbnail.wide | append: thumb_wide | append: '.jpg'| relative_url -}}" type="image/jpeg">
            <img src="{{- thumb_base | append: site.thumbnail.wide | append: thumb_wide | append: '.jpg' | relative_url -}}" alt="{{- thumb_alt -}}">
          </picture>
        </div>
        {%- endif %}
        {% if page.summary -%}
        <p class="text-justify font-weight-bold">
          {{ page.summary | strip_html | strip_newlines | xml_escape }}
        </p>
        {%- endif %}
      </header>

      <div class="post-content">
        {{ content }}
      </div>

    </article>
  </div>
</main>

<aside>
  <div class="container">
    {% include calltoaction.html %}
  </div>
</aside>

{% if page.author_id -%}
{%- for author in site.data.author -%}
{% if author.author_id == page.author_id -%}
<aside>
  <div class="container post">
    <div class="post-author pt-2 pb-4">
      <h2 class="pb-2 font-weight-bold">{{- site.data.i18n.aboutauthor["en"] | strip_html | strip_newlines | xml_escape -}}</h2>
      <div class="row">
        <div class="col-sm-3 p-2 post-author-image">
          {% if author.author_image and author.author_about -%}
          {%- assign img_base = site.thumbnail.base | append: author.author_image -%}
          {%- assign img_webp = img_base | append: '.webp' | strip_html | strip_newlines | uri_escape -%}
          {%- assign img_jpg = img_base | append: '.jpg' | strip_html | strip_newlines | uri_escape -%}
          {%- assign author_fullname = author.name | strip_html | strip_newlines | xml_escape -%}
          ​<picture>
            <source srcset="{{- img_webp | relative_url -}}" type="image/webp">
            <source srcset="{{- img_jpg | relative_url -}}" type="image/jpeg">
            <img src="{{- img_jpg | relative_url -}}" class="user-picture" alt="{{- author_fullname -}}">
          </picture>
          {%- endif %}
        </div>
        <div class="col-sm-9 post-author-info">
          <p class="user-name py-1">
            {{- author_fullname -}}
          </p>
          <p class="user-shortbio text-justify pb-1">
            {{- author.shortbio | strip_html | strip_newlines | xml_escape -}}
          </p>
        </div>
      </div>
    </div>
  </div>
</aside>
{% break -%}
{%- endif %}
{%- endfor %}
{%- endif %}
